<% @cartitems.each do |e| %>
    商品名: <span style="color: red;"><%= Product.find(e.product_id).name %></span>
    価格: <span style="color: red;"><%=Product.find(e.product_id).price %></span>
    数量: <span style="color: red;"><%= e.qty %></span>
    <%= link_to '削除', cartitem_path(e), data: { turbo_method: :delete } %>
    <br>
<% end %>

<%= link_to "商品一覧に戻る", root_path, style: "color: blue; text-decoration: underline;" %>

